src/main/mule/brewary-post.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="brewary-postFlow" doc:id="913148f4-5f22-4563-9283-13a4ae9dc369" >
		<http:request method="POST" doc:name="Request" doc:id="7330e126-b3ea-40ec-8103-d13ad3baf916" config-ref="HTTP_Request_configuration1" path="/api/brewary" responseTimeout="#[5000000000]" />
	</flow>
</mule>
